body{
    background-color: #212f45

}

#icon{
    padding-left: 25%;
}

.navbar-inicio{
    width: 48%;
}

.navbar{
    width: 48%
}

.navbar-completo{
    width: 100%;
    display: inline-block;
} 

#banner{
    width: 100%
}

#indicecontent{
    font-size: medium;
    color: white;
}

#us{
    font-size: medium;
    color: white;
}
.serv-title{
    font-size: medium;
    color: white;
}

.sect-title{
    font-size: medium;
    color: whitesmoke;
}

#factorestarifas{
    font-size: medium;
    color:whitesmoke
}

#tarifas{
    font-size: medium;
    color:whitesmoke;
}
footer{
    font-size: medium;
    color: white;
}